 /* ============================================= */
 /* Header Styles */
 /* ============================================= */

header {

    //colors
    color: $white;
    background-color: $primary-color;

    //font
    font-weight: normal;
    span{
        font-weight: bold;
    }

    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo{
        margin-right: auto;
        margin-left: 20px;
        display: inline-block;
    }

    .user, .name{
        display: inline-block;
        margin-left: auto;
        margin-right: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .notification-bell img{
        height: 30px;
        padding-right: 20px;
        padding-left: 20px;
    }

    .name{
        padding-left: 20px;
        border-left: 1px solid black;
        height: 50px;
    }
     .notification-bell, img, h3{
        display: inline-block;
    }
}

.main-header{
    display: flex;
    align-items: center;
    background-color: $secondary-color;
    justify-content: space-between;
    
    .headline{
        background-color: $white;
        padding: 20px;
        margin: 0;
        border-right: $default-color 1px solid
    }
    
    &-search{
       margin-right: 20px;
       height: 100%;
    }
}

.alert {
    background-color: $primary-color;
    color: $white;
    margin: 0 10px;
    border-radius: 5px;
    
    &-banner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 10px;

        &-close{
            font-size: larger;
            font-weight: bolder;
        }
    }
}