/* ============================================= */
/*              Media Queries                    */
/* ============================================= */
@media (min-width: $breakpoint-m) {

  .grid-container {
    grid-template-columns: 55px 1fr;
    grid-template-areas:
      "header header"
      "navigation main";
    }

  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
      "main-header main-header"
      "alert alert"
      "traffic traffic"
      "daily mobile"
      "social social"
      "members activity"
      "message settings";
    }

  .widget{
    &-container-full{
      width: 90vw;
    }

    &-container-half {
      width: 45vw;
    }
  }

  nav{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0;

    svg{
      margin: 20px;
    }
  }

  .traffic-header{
    margin: 0 20px;
  }

  .daily, .mobile{
    border-top: 1px $default-color solid;
    border-bottom: 1px $default-color solid;;
    border-left: 1px $default-color solid;
 }
 .social{

    &-container{
    margin: 30px;
    
    }
 }
 .members{

  &-all{
    width: 95%;
  }

  }
  .settings{

    border-left: 1px $default-color solid;
    border-top: none;
    
    .widget{

      &-container{
        :last-child{
          margin-bottom: 0px;
        }
      }

      &-toggle{
        P{
         flex-grow: 0;
         width: 30%;
        }
      }
    }
  }

  

  .alert {


    
    &-banner{
        margin: 0 30px;
    }

    &-tasks{
      top: 200px;
    }
  }
}