/* ============================================= */
/*         member and activity compenents   */
/* ============================================= */

.members, .activity{

    border-bottom: 1px $default-color solid;
    border-left: 1px $default-color solid;
    padding-bottom: 20px;

    &-container{



        display: flex;
        border-bottom: 1px $default-color solid;
        padding-bottom: 20px;
        margin-top: 20px;
        height: 100px;


    }

    &-text{
        flex-grow: 1;
        padding: 10px 0;
        margin-left: 10px;
    }

    &-date{
        text-align: center;
        padding: 10px 0;
    }

    p{
        margin: 5px 0px;
    }

    .arrow{
        color: $primary-color;
        font-size: 3rem;
        
    }

    :last-child{
        border-bottom: none;
    }
}