 /* ============================================= */
 /* Traffic / Graph Styles */
 /* ============================================= */

 .traffic-header{
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    .traffic-nav{
        display: flex;
        justify-content: space-around;
        align-items: center;

        li{
            margin-right: 20px;
            padding: 5px;
        }
    }
 }

