
/* ============================================= */
/*              Base styles                      */
/* ============================================= */

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    font-weight: normal;
    list-style-type: none;
  }
  
.widget{

  &-container{
    &-full, &-half{
      width: 95vw;
      @include center;
    }

  }

}

section{
  padding: 0 10px;
}

.show {display:block;}

.active{
  background-color: $green;
  color: $white;
  font-weight: bold;
  border-radius: 5px;
}